.tui-pagination .tui-page-btn{
    width: 25px !important;
    height:25px !important;
    border-radius:50%;
    border: 0.1px solid gray !important;
    margin-bottom:40px;
    margin-right: 5px;
    padding: 5px 0 14px !important;
    font-size: 12px !important;
    background: white;
    & .tui-next-is-ellip {margin-right: 8px !important};
    @include tablet  {
    width: 44px !important;
    height:44px !important;
    margin-right: 8px;
    font-size: 16px !important;
    padding: 12px 0 18px !important;
    border: 0.5px solid gray !important;
  }
}
.tui-pagination .tui-is-selected, .tui-pagination strong {
    background:#111111 !important;
    border-color: gray !important;
    margin-right: 5px;
    padding: 5px 0 15px !important;
 @include tablet  {
    padding: 12px 0 18px !important;
    margin-right: 8px;
  }
}
.tui-pagination {
    position: relative;
    @include desktop {
    margin-left: 295px !important;
  }
    & .tui-last, .tui-next, .tui-prev, .tui-first  {
    background: #EAC645 ;
    margin-right: 4px;
   @include tablet  {
    margin-right: 6px;
  }
  } 
    & .tui-last{
    margin-right: 0;
  } 
    & .tui-prev{
    margin-right: 8px !important;
  } 
    & .tui-next{
    margin-left:0 !important;
  } 
   & .tui-ico-last, .tui-ico-prev, .tui-ico-next, .tui-ico-first {
   position: absolute;
   top: 30%;
   right: 30%;
   width: 12px !important;
   height: 10px !important;
   @include tablet {
   top: 35%;
   right:35%;
   width: 14px !important;
   height: 12px !important;
  }
   }
   & .tui-ico-last {
   background-position:  0 -12px;
   right: 20%;
   @include tablet {
   right: 30%;
  }
  }
   & .tui-ico-prev, .tui-ico-next {
   top: 30%;
   right:40%;
   width: 6px !important;
   height: 10px !important;
 @include tablet {
   top: 35%;
   right: 40%;
   width: 8px !important;
   height: 12px !important;
  }
   
   }
    
   & .tui-ico-next{
   right:35%;
 @include tablet {
     right: 35%;
  }
      }
   & .tui-ico-ellip{
     position: absolute;
         right: 25%;
     width: 10px !important;
     height: 1.5px !important;
     margin-top: 9px !important;
    @include tablet  {
        right: 37%;
     height: 2px !important;
     margin-top: 15px !important;
  }
   }
    }
   .tui-page-btn.tui-prev {
    margin-right: 8px;
  @include tablet  {
    margin-right: 10px !important;
  }
}
   .tui-page-btn.tui-next-is-ellip.pagination__last-item {
    margin-right: 8px;
  @include tablet  {
    margin-right: 10px;
  }
}

.tui-is-disabled {
  background:#111111 !important;
}