
.tui-pagination .tui-page-btn{
    width: 44px !important;
    height:44px;
    border-radius:50%;
    border: 1px solid black !important;
    margin-bottom:40px;
    margin-right: 8px;
       font-size: 22px !important;
    background: white;
}

// .tui-pagination .tui-first {
//         background:#111111 !important;
// }


// .tui-pagination .tui-is-disabled .tui-ico-next {
//      background: #EAC645!important;
// }
.tui-pagination .tui-is-selected, .tui-pagination strong {
    background:#111111 !important;
    border-color: #111111 !important;
     padding: 11px 0 18px !important;
}

.tui-pagination .tui-last{
    height: 44px !important;
  
} 
.tui-pagination .tui-next {
    height: 44px !important;
       padding: 8px 0 18px !important;
  
}
      
 
.tui-next-is-ellip {
        height: 44px !important;
 
} ;
.tui-pagination .tui-prev {
           height: 44px !important;
   
};

.tui-pagination .tui-first {
      height: 44px !important;

}
 .tui-pagination .tui-prev-is-ellip {
       height: 44px !important;
   
 }

.tui-pagination .tui-ico-next {
    width: 7px !important;
    height: 12px !important;

}
.tui-pagination .tui-ico-last {
       width: 14px !important;
    height: 12px !important;
        //    padding: 8px 0 18px !important;
}

