<header class="header">
    <div class="container">
      <!-- <a href="./index.html" class="logo"
        ><svg class="logo__svg" width="83" height="28">
          <use href="./images/icons.svg#icon-logo-1"></use></svg
      ></a> -->
      <a href="./index.html" rel="noopener noreferrer nofollow" class="logo">
        <svg class="logo-svg" width="25" height="25">
          <use href="./images/icons.svg#icon-logo-002"></use>
        </svg>
        <svg class="logo-book" width="53" height="17">
          <use href="./images/icons.svg#icon-Book"></use>
        </svg>
      </a>
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="./index.html" rel="noopener noreferrer nofollow" class="navigation__link">
              <span>Home</span>
            </a>
          </li>
          <li class="navigation__item">
            <a
              href="./shopping-list.html" rel="noopener noreferrer nofollow" 
              class="navigation__link navigation__link--with-icon"
            >
              <span>Shopping list</span>
              <svg class="navigation--btn__icon" width="20" height="20">
                <use href="./images/icons.svg#icon-uil_cart"></use></svg
            ></a>
          </li>
        </ul>
      </nav>
      <!-- SWITHCER -->
      <div class="swithcer">
        <input type="checkbox" id="dark-mode" class="input" />
        <label for="dark-mode" class="label">
          <div class="circle"></div>
        </label>
      </div>
      <!-- SIGN-UP-BUTTON -->
      <div class="userbar logged-in">
        <button class="sign-up-btn" type="button" data-modal-open aria-label="Sign up">
          <span class="sign-up-btn__text">Sign up</span>
          <svg class="sign-up-btn__icon" width="20" height="20">
            <use href="./images/icons.svg#arrow-narrow-right"></use>
          </svg>
        </button>

        <button class="user-sign" type="button" data-log-out  aria-label="Log up">
          <div class="wrapper-user-sign">
            <svg class="user-signicon" width="19" height="19">
              <use href="./images/icons.svg#icon-user"></use></svg>
          </div>
          <span class="user-signtext">Log out</span>
          <svg class="user-sign__icon-down" width="23" height="26">
            <use href="./images/icons.svg#icon-fi-ss-caret-down"></use></svg>
        </button>

        <button class="log-out-btn" type="button" data-log-out  aria-label="Log up">
          <span class="log-out-btn__text">Log out</span>
          <svg class="log-out-btn__icon" width="20" height="20">
            <use href="./images/icons.svg#arrow-narrow-right"></use>
        </button>
      </div>
      <!-- BURGER MENU -->
      <button class="burger-meny-btn" type="button" aria-label="Open mobile navigation-menu">
        <svg class="burger-meny-btn__icon" width="28" height="28">
          <use href="./images/icons.svg#icon-align-left"></use>
        </svg>
      </button>
      <button class="burger-meny-btn-close mobile-btn-close" type="button" aria-label="Close mobile navigation-menu">
        <svg class="burger-meny-btn-close__icon" width="28" height="28">
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
    </div>

</header>
