<header class="header">
    <div class="container header__container" data-modal-dark>
      <svg class="navigation--btn__icon">
        <use href="/src/images/icons.svg#icon-x-close"></use>
      </svg>
      <div>
           <button class="sign-up-btn" type="button" data-modal-open>
            <span class="sign-up-btn__text">Sign up</span>
                <svg class = "burger-meny-btn__icon" width="20"  height="20" aria-label="Modal open">
                  <use href="./images/icons.svg#arrow-narrow-right"></use>
                </svg>
          </button>
      </div>
   </div>
  </header>
   