<div class="menu-modal-wrapper">
  <div class="menu-modal">
    <button
      class="signup-btn"
      type="button"
      data-modal-open
      aria-label="To sign up "
    >
      <span class="signup-btn__text">Sign up</span>
      <svg class="signup-btn__icon" width="20" height="20">
        <use href="./images/icons.svg#arrow-narrow-right"></use>
      </svg>
    </button>
    <div class="user__container visually-hidden">
      <div class="user__wrapper">
        <svg class="user__icon" width="19" height="19">
          <use href="./images/icons.svg#ri-user"></use>
        </svg>
      </div>
      <p class="user__name">Stephen</p>
    </div>
    <nav class="mobile__thumb">
      <ul class="mobile__list-links">
        <li class="mobile__home-item">
          <a class="mobile__home" href="./index.html">Home</a>
        </li>
        <li class="mobile__home-item">
          <a class="mobile__shoplist" href="./shopping-list.html"
            >Shopping list
            <svg class="shoplist__icon" width="20" height="20">
              <use href="./images/icons.svg#icon-uil_cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <button class="mobile__logout" type="submit">
      Log out
      <svg class="logout__icon" width="20" height="20">
        <use href="./images/icons.svg#arrow-narrow-right"></use>
      </svg>
    </button>
  </div>
</div>
