<!-- Модальне вікно вибранної книги -->
<div class="backdrop backdrop--is-hidden">
  <div class="modal-pop" data-modal-dark>
    <button class="modal-pop__button--close" data-modal-close>
      <svg
        class="modal-pop__icon-close"
        width="14"
        height="14"
        aria-label="Modal close"
      >
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <!-- DIV для основного контенту -->
    <div class="modal-pop__container" data-modal>
      <!-- <div class="modal-info">
        <img class="modal-info__image" src="./images/book_mobile.jpg" alt="" />
        <div class="modal-info__box">
          <h2 class="modal-info__title">HELLO BEAUTIFUL</h2>
          <p class="modal-info__author">Ann Napolitano</p>
          <p class="modal-info__text">
            In a homage to Louisa May Alcott’s “Little Women,” a young man’s
            dark past resurfaces as he gets to the know the family of his
            college sweetheart.
          </p>
          <ul class="modal-info__list">
            <li>
              <a class="modal-info__link" href="#">
                <img src="./images/book-store-icon/amazon.png" alt="" />
              </a>
            </li>
            <li>
              <a class="modal-info__link" href="#">
                <img src="./images/book-store-icon/apple-books.png" alt="" />
              </a>
            </li>
            <li>
              <a class="modal-info__link" href="#">
                <img src="./images/book-store-icon/book-shop.png" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <button class="modal-info__button" type="button">
        Add to shopping list
      </button> -->
    </div>
  </div>
</div>
