<div class="backdrop-form" data-modal-show>
  <div class="ellipse"></div>
  <div class="modal-content">
    <div class="close-container--sign" data-modal-close>
      <div class="leftright--sign"></div>
      <div class="rightleft--sign"></div>
    </div>

    <div class="forms-container">
      <div class="regisraion-wrapper">
        <form class="registration-form">
          <input
            class="registration-form__input"
            type="text"
            placeholder="NAME"
          />
          <input
            class="registration-form__input"
            type="email"
            placeholder="EMAIL"
          />
          <input
            class="registration-form__input"
            type="password"
            placeholder="PASSWORD"
          />
          <button class="registration-form__btn" type="submit">SIGN UP</button>
        </form>
      </div>

      <div class="login-form-wrapper hidden">
        <form class="login-form">
          <input
            class="login-form__input"
            type="text"
            placeholder="NAME"
            data-login-name
          />
          <input
            class="login-form__input"
            type="email"
            placeholder="EMAIL"
            data-login-email
          />
          <input
            class="login-form__input"
            type="password"
            placeholder="PASSWORD"
            data-login-pass
          />
          <button class="login-form__btn" type="submit">SIGN IN</button>
        </form>
      </div>
    </div>

    <div class="links-container">
      <a id="registration-link" class="registration-link active" href="#"
        >SIGN UP</a
      >
      <a id="login-link" class="login-link" href="#">SIGN IN</a>
    </div>
  </div>
</div>
