<!-- Модальне вікно вибранної книги -->
<div class="backdrop backdrop--is-hidden">
  <div class="modal-pop">
    <button class="modal-pop__button--close" data-modal-pop-close>
      <svg
        class="modal-pop__icon-close"
        width="24"
        height="24"
        aria-label="Modal close"
      >
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <!-- DIV для основного контенту -->
    <div class="modal-pop__container" data-modal></div>
    <p class="modal-info__description"></p>
    <p class="description-non"></p>
  </div>
</div>
