<div class="shopping-container container">
  <!-- charity -->
  <div class="charity shopping__charity"></div>
  <!-- shopping-list -->
  <section class="shopping">
    <h1 class="shopping__heading">
      Shopping<span class="shopping__heading--color"> List</span>
    </h1>
    <ul class="shopping__cards"></ul>
    <div class="shopping__storage">
      <p class="shopping__storage-notification">
        This page is empty, add some books and proceed to order.
      </p>
      <img
        srcset="
          ./images/shopping-list-empty-bg/shoping-list-empty-mobile-sm.png    265w,
          ./images/shopping-list-empty-bg/shoping-list-empty-mobile-sm-2x.png 530w,
          ./images/shopping-list-empty-bg/shoping-list-empty-lg.png           322w,
          ./images/shopping-list-empty-bg/shoping-list-empty-lg-2x.png        644w
        "
        sizes="(min-width: 1440px) 322px, 265px"
        src="./images/shopping-list-empty-bg/shoping-list-empty-mobile-sm.png"
        alt="Images haven't found"
      />
    </div>
    <!-- pagination -->
  </section>
</div>
