.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @include mobile {
    width: $phone;
  }

  @include tablet {
    width: $tablet;
    padding: 0 32px;
  }

  @include desktop {
    width: 100%;
    max-width: 1440px;
    padding: 0 24px;
  }
}
