.backdrop.footer__backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  display: flex;
	justify-content: center;
	align-items: center;

  backdrop-filter: blur(10px);
  background-color: #4848481a;

  opacity: 1;


  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and(max-width: 767px) {
    align-items: center;
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    .footer-modal {
      transform: scale(1.5);
      background-color: rgba(255, 255, 255, 0.788);
    }
  }
}


.footer__backdrop {
  z-index: 1000;
}

.footer-modal {
  width: 100%;

  height: 250px;
    text-shadow: 0 4px 4px rgb(0 0 0 / 64%);

  z-index: 1;
  width: 300px;

  background-color: rgb(177, 176, 176);
  padding-top: 15px;
  border-radius: 10px;


  background-color:  #856cf5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23428cd4' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%234f9ed4' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2368acd4' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2381b5d4' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23a0c6e0' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 8px #b9b1cf80, inset 0 1px #ffffff4d, inset 0 10px #fff3, inset 0 10px 20px #ffffff40, inset 0 -15px 30px #e8d9f84d;


  &::-webkit-scrollbar {
    width: 8px; 
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(253, 254, 255, 0.2);
    outline: none;
    border-radius: 10px;
  }
  @media screen and(min-width:$tablet) {
    width: 600px;
    height: 500px;

  }
  @media screen and(min-width:$desktop) {
    width: 800px;
    height: 500px;

  }
  @media screen and(max-height:430px) {
    height: 90vh;

  }
}

body.modal-open {
  overflow: hidden;
}

.glide__slide {
  color: #ffff;
  @media screen and(min-width:768px) {
    width: 350px;
  }
}

.footer__sociallink {
  margin-top: 2px;
  margin-bottom: 10px;
  // padding-left: 0;
  margin-top: 2px;
   @media screen and(min-width:768px) {
    margin-top: 5px;
    margin-bottom: 15px;
  
  }
  
}

.footer-modal__card {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: auto;
  margin-bottom: auto;

}

.footer__social {
  display: flex;
}

.student__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.student-foto {
box-shadow:0 2px 8px #b9b1cf80, inset 0 1px #ffffff4d, inset 0 10px #fff3, inset 0 10px 20px #ffffff40, inset 0 -15px 30px #e8d9f84d;
  width:100px;
  height: auto;
  border-radius: 50%;
  @include tablet {
  width: 250px;
  }
}

.border__outside {
  padding: 7px;
  margin: 0 auto;
  width: 100px;
  border-radius: 50%;

  box-shadow:0 2px 8px #b9b1cf80, inset 0 1px #ffffff4d, inset 0 10px #fff3, inset 0 10px 20px #ffffff40, inset 0 -15px 30px #e8d9f84d;

  margin-bottom: 10px;
  @media screen and(min-width:768px) {
    width: 250px;
    margin-bottom: 15px;
  }
}

.student__name {
  font-family: 'Roboto';
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: 0.04em;

  color: #ffffff;
     text-shadow: 0 4px 4px rgb(0 0 0 / 64%);


  @media screen and(min-width:768px) {
    font-size: 25px;
    padding-bottom: 8px;

  }
}

.student__role {
  font-size: 18px;
  line-height: 1.15;
  letter-spacing: 0.04em;

  color: #4F2EE8;;
  text-shadow: 0 4px 4px rgb(0 0 0 / 64%);
  @media screen and(min-width:768px) {
    font-size: 25px;

  }
}

.student__about {

  max-width: 560px;
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-shadow: 0 4px 4px rgb(0 0 0 / 64%);
  color: #4F2EE8;;
font-family: 'Rubik Moonrocks', cursive;
  text-align: center;
  @media screen and(min-width:768px) {
    font-size: 20px;
    margin-top: 25px;
  }
}



.close-container {
  position: absolute;
  top: 1px;
  right: -12px;
  margin:0 auto;
  width: 50px;
  height: 50px;

  cursor: pointer;
}

.leftright {
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: #ffffff;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 4px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: #ffffff;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
}

.close {
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright {
  transform: rotate(-45deg);
background-color: var(--button-color);
    color: var(--button-text-color);
    transition: all .5s;
   box-shadow:0 2px 8px #b9b1cf80, inset 0 1px #ffffff4d, inset 0 10px #fff3, inset 0 10px 20px #ffffff40, inset 0 -15px 30px #e8d9f84d;

}

.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: var(--button-color);
    color: var(--button-text-color);
    transition: all .5s;
  box-shadow: 0 2px 8px #b9b1cf80, inset 0 1px #ffffff4d, inset 0 10px #fff3, inset 0 10px 20px #ffffff40, inset 0 -15px 30px #e8d9f84d;
}

.close-container:hover {
  opacity: 1;
}

// Glide Slides
.glide__slides--footer {
  display: flex;
  justify-content: center;
  }

.glide__arrows .glide__arrow {
box-shadow: 0 2px 8px #b9b1cf80, inset 0 1px #ffffff4d, inset 0 10px #fff3, inset 0 10px 20px #ffffff40, inset 0 -15px 30px #e8d9f84d;

}

.glide__slide {
  padding-top: 33px;
}
