.dark-mode,
.dark-mode .modal-pop {
  background-color: $color-dark-accent;
  border-color: $color-white;
  transition: 0.5s;
}
.dark-mode .header__container {
  border: 1.5px solid $color-white;
  background-color: $color-dark;
  transition: 0.5s;
}

.dark-mode .shopping__card {
  background-color: $color-dark;
}

.dark-mode .category-item,
.dark-mode .modal-info__description {
  color: $color-text-dark-theme;
}

.dark-mode .navigation__link,
.dark-mode .navigation--btn__icon,
.dark-mode .books__main-title,
.dark-mode .books__card-title,
.dark-mode .books__btn,
.dark-mode .burger-meny-btn__icon,
.dark-mode .logo-book,
.dark-mode .shopping__title,
.dark-mode .shopping__book-description--tablet,
.dark-mode .shopping__heading,
.dark-mode .modal-info__title,
.dark-mode .modal-info__text,
.dark-mode .modal-pop__icon-close,
.dark-mode .modal-info__button,
.dark-mode .burger-meny-btn-close__icon,
.dark-mode .description-non{
  color: $color-white;
  fill: $color-white;
  stroke: $color-white;
}

.dark-mode .modal-info__author,
.dark-mode .shopping__book-author--tablet,
.dark-mode .shopping__book-author,
.dark-mode .shopping__storage-notification {
  color: $color-text-grey;
}

// Modal registration window-->
.dark-mode ::placeholder {
  color: $color-home-background;
}

.dark-mode .rightleft,
.dark-mode .leftright,
.dark-mode .rightleft--sign,
.dark-mode .leftright--sign  {
  background-color: $color-white;
}

.dark-mode .modal-content {
  background-color: $color-dark-accent;
  border-color: $color-home-background;
}

.dark-mode input {
  background: transparent;
  color: #ffe;
  border-color: $color-home-background;
}

.dark-mode .registration-form__btn,
.dark-mode .login-form__btn {
  font-weight: 700;
  color: $color-dark-accent;
  background-color: $color-home-background;
}

.dark-mode .links-container a {
  color: $colour-grey;
}
// ========================================

// Hover,Active-->

.dark-mode .modal-pop__icon-close:hover {
  stroke: $color-blue;
}

.dark-mode .links-container a.active,
.dark-mode .links-container a:hover {
  color: $color-blue;
}

.dark-mode .registration-form__btn:hover,
.dark-mode .login-form__btn:hover {
  background-color: $color-blue;
}

.dark-mode .category-item.active,
.dark-mode .category-item:hover {
  color: $color-hover-activ;
}
//  =========================================

.dark-mode .shopping__shop-img {
  filter: invert(1);
  transition: 0.5s;
}

.dark-mode .shopping__shop-img:hover {
 transform: translateY(-7);
}

.dark-mode .modal-info__list   {
  filter: invert(1);
}

