.dark-mode {
    background-color: $color-dark-accent;
    color: $color-white;
  }
  .dark-mode .header__container {
    border: 1.5px solid $color-white;
    background-color:  $color-dark;
  }
  
  .dark-mode .logo-book{
    fill: $color-white;
    color: $color-white;
    transform: 0.4s;
  }

  .dark-mode .navigation__link{
    color: $color-white;
    fill: $color-white;
  }

.dark-mode .navigation--btn__icon {
   fill: $color-white;
}

.dark-mode .books__main-title {
    color:  $color-white;
}

.dark-mode .books__card-title {
    color:  $color-white;
}

.dark-mode .books__btn {
    color:  $color-white;
}

.dark-mode .burger-meny-btn__icon{
    color:  $color-white;
}

.dark-mode .modal-pop{
    background-color: $color-dark-accent;
}

.dark-mode .modal-pop__button--close {
    background-color: $color-dark-accent;
}


.dark-mode .shopping__card{
    background-color: $color-dark;
}

.dark-mode .shopping__title {
    color:  $color-white;
}

.dark-mode .shopping__book-description--tablet {
    color:  $color-white;
}

.dark-mode .shopping__heading {
    color: $color-white;
}

.dark-mode .shopping__book-author--tablet{
    color: $color-text-grey;
}

.dark-mode .tui-pagination .tui-is-selected {
    background-color: $color-white;
}

.dark-mode .shopping__storage-notification {
    color: $color-text-grey;
}
