.header {
  display: flex;
  align-items: center;

  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;

  padding-top: 18px;
  padding-bottom: 18px;

  @media screen and(min-width: $tablet) {
    margin-right: 16px;
  }

  @media screen and(min-width: $desktop) {
    margin-right: 83px;
  }

  @include transition(scale);
  &:hover,
  &:focus {
    scale: 1.1;
  }
}

// .logo:hover {
//   scale: 1.1;
// }

.logo-book {
  width: 57px;
  height: 17px;
  margin-left: 5px;
}

.navigation__list {
  display: none;

  @media screen and(min-width: $tablet) {
    display: flex;
    align-items: center;
  }

  @media screen and(min-width: $desktop) {
    gap: 8px;
  }
}

.navigation__link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;

  color: $color-dark;

  font-size: 14px;
  line-height: calk(18 / 14);
  font-weight: 500;
  text-transform: uppercase;
}

.navigation__link--with-icon {
  margin-left: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  @media screen and(min-width: $tablet) {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.is-activ,
.is-activ:hover,
.is-activ:focus {
  font-weight: 700;
  border-radius: 36px;
  background-color: $color-hover-activ;
}

.burger-meny-btn,
.burger-meny-btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  color: $color-dark;
  background-color: transparent;

  cursor: pointer;
}

.burger-meny-btn__icon,
.burger-meny-btn-close__icon {
  stroke: $color-dark;
  @include transition(stroke);

  &:hover,
  &:focus {
    stroke: $color-blue;
  }
}

.mobile-btn-close {
  display: none;
}

.burger-meny-btn {
  background-color: transparent;
  color: $color-dark;
  cursor: pointer;
  @include transition(color);

  &:hover {
    color: $color-blue;
  }

  @media screen and(min-width: $tablet) {
    display: none;
  }
}

.navigation--btn__icon {
  fill: #111111;
}

// SWITHCER

.swithcer {
  position: relative;
  display: flex;
  width: 40px;
  height: 20px;
  margin-left: auto;
  margin-right: 14px;
  padding: 0;

  border: 0;
  border-radius: 10px;
  @media screen and(min-width: $tablet) {
    margin-right: 24px;
  }
}

.input {
  visibility: hidden;
}

.label {
  position: absolute;
  width: 40px;
  height: 20px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
}

.circle::before {
  content: '';
  position: absolute;
  cursor: pointer;
  left: 2px;
  top: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  transition: 0.4s;
  background-color: #fff;
  animation: toggleOff 0.4s linear forwards;
}

.input:checked + .label {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.input:checked + .label .circle::before {
  animation: toggleOn 0.4s linear forwards;
  background-color: black;
}

@keyframes toggleOn {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(18px);
  }
}

@keyframes toggleOff {
  0% {
    transform: translateX(18px);
  }

  100% {
    transform: translateX(0);
  }
}

// SIGN-UP-BUTTON

.userbar {
  @include tablet {
    position: relative;
    min-width: 184px;
  }
}

.sign-up-btn {
  display: none;
  @media screen and(min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 13px 14px;

    background-color: $color-blue;
    color: $color-white;
    border: 1.5px solid $color-dark;
    border-radius: 18px;
    cursor: pointer;
    @include transition(color);
    @include transition(background-color);
  }
}

.sign-up-btn:hover,
.sign-up-btn:focus {
  background-color: $color-hover-activ;
  color: $color-dark;
}

.sign-up-btn__icon {
  stroke: $color-hover-activ;
  @include transition(stroke);
}

.sign-up-btn:hover .sign-up-btn__icon,
.sign-up-btn:focus {
  stroke: $color-dark;
}

// .sign-up-btn.signup-btn-mobile {
//   @media screen and(max-width: $tablet) {
//     display: none;
//   }
// }

.signup-btn-mobile {
  display: flex;
  @media screen and(min-width: $tablet) {
    display: none;
  }
}

.signup-btn-mobile.show {
  @media screen and(max-width: 374px) {
    display: flex;
  }
  display: none;
}

.sign-up-btn__text {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
}

// ===========

.wrapper-user-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 50%;
}

.user-sign {
  @media screen and(max-width: 374px) {
    display: none;
  }
  padding: 4px 12px;
  background-color: #4f2ee8;

  border-radius: 36px;
  cursor: pointer;
  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $color-hover-activ;
    color: $color-dark;
  }
}

.user-sign.show {
  display: none;
  @media screen and(min-width: $tablet) {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
  }
}

.user-sign__icon-down {
  margin-left: auto;
  @include transition(transform);

  &.rotation {
    transform: rotate(180deg);
  }
}

.user-signtext {
  font-family: 'DM Sans';

  font-weight: 700;
  font-size: 22px;
  line-height: 1.32;
  letter-spacing: -0.02em;

  color: #ffffff;
}

.user-sign:hover .user-signtext,
.user-sign:focus .user-signtext {
  color: $color-dark;
}

.user-signicon {
  fill: #4f2ee8;
}

.user-sign__icon-down {
  fill: white;
}

.user-sign:hover .user-sign__icon-down,
.user-sign:focus .user-sign__icon-down {
  fill: $color-dark;
}

// ===
.sign-up-btn.hidden {
  @media screen and(min-width: $tablet) {
    display: none;
  }
}

.log-out-btn {
  display: none;
  @media screen and(min-width: $tablet) {
    position: absolute;
    width: 100%;
    cursor: pointer;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;

    color: #111111;

    background: $color-white;
    color: $color-dark;
    border: 1.5px solid $color-dark;
    border-radius: 18px;
    justify-content: space-between;
    align-items: center;
    padding: 13px 14px;
    @include transition(background-color);

    &.is-open {
      display: flex;
    }
  }
}

.log-out-btn:hover,
.log-out-btn:focus {
  background-color: $color-hover-activ;
}

.log-out-btn__icon {
  stroke: $color-hover-activ;
  @include transition(stroke);
}

.log-out-btn:hover .log-out-btn__icon,
.log-out-btn:focus .log-out-btn__icon {
  stroke: $color-dark;
}
