.home-container{

  position: relative;
}


.sidebar__categories {
  display: block;
  height: 228px;
  overflow: auto;
  
  font-weight: 400;
  font-size: 16px;
  
}
.category-item {
 
  color: rgba(17, 17, 17, 0.6);
  cursor: pointer;
}
.category-item:not(:last-child) {
  margin-bottom: 24px;
}

.category-item.active,
.category-item:hover,
.category-item:focus {
  text-transform: uppercase;
  font-weight: 700;
  color: #4F2EE8;
}



.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 356px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   /* Stay on top */
  top: 72; /* Stay at the top */
  left: 20;
  overflow-x: hidden;
  overflow-y: hidden;
   /* Disable horizontal scroll */
}
.main {
  position: relative;

 margin-left: 396px;
 
right: 0;}