// .support{
//   padding-top: 40px;
//   padding-bottom: 40px;

//   @include tablet  {
//     padding-top: 60px;
//     padding-bottom: 60px;
//   }
// }

.support__container {
  max-width: 335px;

  padding-top: 24px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 58px;
  margin: 0 ;

  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;

  @include tablet {
    max-width: 335px;

    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 58px;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 356px;

    padding-top: 24px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 58px;
    margin: 0 auto;
  }
}

.wrapper {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}

.support__title {
  width: 205px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.support__icon {
  fill: #ffffff;
}
.swiper-container {
  height: 200px;
  overflow: hidden;
  margin-bottom: 32px;
  @include tablet {
    height: 299px;
    margin-bottom: 40px;
  }
}

.logoContainer {
  display: flex;
  flex-direction: column;
  // justify-items: center;

  gap: 20px;
  transition: transform 0.7s cubic-bezier(0.08, 0.82, 0.15, 0.94);

  @include tablet {
  }
}

.logo__item {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo__ite > img {
  object-fit: cover;
}

.fundNumber {
  width: 14px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3px;

  align-items: flex-end;
  letter-spacing: -0.04em;

  color: #ffffff;
}
.logo__item {
  height: 32px;
}

.logo__img {
  filter: brightness(100) contrast(100%) grayscale(1);
}

.buttonSlider {
  width: 32px;
  height: 32px;
  background: #ffffff;
  transform: rotate(90deg);
}

.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  width: 38px;
  height: 38px;

  border-radius: 50%;

  cursor: pointer;
  @include transition(background-color);

  &:hover,
  &:focus {
    background-color: $color-hover-activ;
  }
}

.swiper-button-next__icon {
  fill: #4f2ee8;

  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
