.sidebar__categories {
  height: 228px;
  overflow: auto;
  margin: 40px 20px;
  font-weight: 400;
  font-size: 16px;
}
.category-item {
  color: rgba(17, 17, 17, 0.6);
  cursor: pointer;
}
.category-item:not(:last-child) {
  margin-bottom: 24px;
}

.category-item.active,
.category-item:hover,
.category-item:focus {
  text-transform: uppercase;
  font-weight: 700;
  color: #4F2EE8;
}

.sidenav {
  margin: 40px 20px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 356px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
   /* Disable horizontal scroll */
  padding-top: 20px;
}
.main {
  margin-left: 140px; /* Same as the width of the sidebar */
  padding: 0px 10px;
right: 0;}