.home-container {
  padding-top: 40px;
  padding-bottom: 10px;

  @media screen and(min-width: $desktop) {
    display: grid;

    gap: 40px;
    grid-template-areas: 'sidebar content';
  }
}
.main {
  @media screen and(min-width: $desktop) {
    grid-area: content;
  }
}
.books__item {
  @media screen and(max-width: $tablet) {
    margin-bottom: 40px;
  }
}
.home__main-container {
  display: none;
}
.home__main-container.container_active {
  display: block;
}
.home-typeBook {
  display: none;
}
.home-typeBook.container_active {
  display: block;
}
.sidebar__categories {
  display: block;
  height: 228px;
  overflow: auto;
  max-width: 336px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(18 / 16);

  @media screen and(min-width: $tablet) {
    width: 335px;
    height: 472px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: calc(24 / 18);
  }

  @media screen and(min-width: $desktop) {
    margin-bottom: 85px;
  }
}

// scrollbar
.sidebar__categories::-webkit-scrollbar {
  width: 8px;
}
.sidebar__categories::-webkit-scrollbar-track {
  background-color: transparent;
}
.sidebar__categories::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 4px;
}
.sidebar__categories::-webkit-scrollbar-thumb:hover {
  background-color: $color-text-grey;
}

.category-item {
  color: rgba(17, 17, 17, 0.6);
  cursor: pointer;
  transform: scale(0.97);
  transform-origin: center left;
  @include transition(color);
  @include transition(transform);
}

.category-item:not(:last-child) {
  margin-bottom: 24px;
  @media screen and(min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and(min-width: $desktop) {
    margin-bottom: 24px;
  }
}

.category-item.active,
.category-item:hover,
.category-item:focus {
  text-transform: uppercase;
  font-weight: 700;
  color: $color-blue;
  transform: scale(1);
}

.sidenav {
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    display: flex;

    margin-bottom: 100px;
  }

  @media screen and(min-width: $desktop) {
    margin-bottom: 0;
    max-width: 356px;
    grid-area: sidebar;
    display: inline;
  }
}
.books__card-author {
  @media screen and(min-width: $tablet) {
    max-width: 218px;
  }
  @media screen and(min-width: $desktop) {
    max-width: 180px;
  }
}
.category__item {
  @media screen and(min-width: $desktop) {
    flex-basis: calc((100% - 100px) / 5);
  }
}
