//==========Close container===========
.close-container--sign {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 12px;
  margin: 0 auto;
  width: 25px;
  height: 25px;
  cursor: pointer;

  @include tablet {
    top: 12px;
    right: 24px;
  }
}

.leftright--sign,
.rightleft--sign {
  width: 20px;
  height: 4px;
  width: 20px;
  position: absolute;
  margin-top: 24px;
  background-color: $color-dark;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all 0.3s ease-in;

  @include tablet {
    width: 25px;
  }
}

.rightleft--sign {
  transform: rotate(-45deg);
}

.close-container:hover .leftright--sign {
  transform: rotate(-45deg);
  background-color: $color-blue;

  transition: all 0.5s;
  box-shadow: 0 8px 43px $color-blue;
}

.close-container:hover .rightleft--sign {
  transform: rotate(45deg);
  background-color: $color-blue;

  transition: all 0.5s;
  box-shadow: 0 8px 43px $color-blue;
}

// // =================================
// .sign-up-btn {
//   display: none;
//   color: #f6f6f6;
//   min-width: 184px;
//   cursor: pointer;
//   background: $color-blue;
//   border: 1.5px solid $color-dark;
//   border-radius: 18px;
//   justify-content: space-between;
//   align-items: center;
//   padding: 13px 14px;
//   display: flex;
// }

.backdrop-form {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background: $color-blue;
}

.ellipse {
  position: absolute;
  width: 1421px;
  height: 1421px;
  left: -846px;
  top: -918px;
  background: rgba(204, 236, 231, 0.5);
  filter: blur(539.791px);
}

.modal-content {
  padding: 40px 20px 40px;
  width: 90%;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #f3f3f3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: #f6f6f6;

  border-radius: 18px;
  border: 2px solid $color-dark;

  @include tablet {
    width: 579px;
    height: 516px;

    padding: 80px 40px 40px;
  }
}

.links-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.links-container a {
  color: rgba(17, 17, 17, 0.5);

  margin: 0 10px;
  border-bottom: 2px solid transparent;
}

.links-container a.active,
.links-container a:hover {
  border-bottom: 2px solid $color-blue;
  color: $color-blue;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.registration-form,
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @include tablet {
    gap: 28px;
  }
}

.registration-form__input,
.login-form__input {
  width: 100%;
  height: 50px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  color: #ffffff;
  padding-left: 40px;

  color: $color-dark;
  text-transform: uppercase;
  border: 2px solid $color-dark;
  border-radius: 40px;

  @include tablet {
    width: 499px;
    height: 64px;
  }
}

.registration-form__btn,
.login-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 10px;

  width: 100%;
  color: #f3f3f3;
  background: #111111;
  border-radius: 40px;
}

.registration-form__input:hover,
.registration-form__input:focus,
.login-form__input:hover,
.login-form__input:focus {
  border-color: $color-blue;
  transition: all 0.5s;
}
.registration-form__btn:hover,
.login-form__btn:hover,
.registration-form__btn:focus,
.login-form__btn:focus {
  border: 1.5px solid $color-dark;
  background-color: $color-blue;
  color: $color-white;
  transition: all 0.5s;
}

::placeholder {
  color: $color-dark;
}
// =================
.log-out-btn {
  display: flex;
  position: absolute;
  min-width: 184px;
  cursor: pointer;
  background: $color-white;
  color: $color-dark;
  border: 1.5px solid $color-dark;
  border-radius: 18px;
  justify-content: space-between;
  align-items: center;
  padding: 13px 14px;
}
